/*
* Color
*/
$main: #0D2451;
$light-blue: #7CA8FF;
$white: #FFFFFF;
$blue-zodiac: #12214A;
$grey: #C8C9CB;
$green-btn-text: #48DF70;
$green-btn-border: #77DC7C;
$green-sotiers-border: #4AE472; // && nav link :hover color

// Do good with REFLOW section 
$blue-scooter: #26BDE2;
$yellow: #FCC30B;
$orange: #FD9D24;
$dark-green: #3F7E44;

